<div class="container">
<h1>My Goals</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <ul>
    <div *ngFor='let goal of goals;let i = index'>
      <li id={{i}} appstrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
      <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
      <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
    </div>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
    <div *ngFor='let goal of goals;let i = index'>
      <li id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
    </div>
    </ul>
    
    <p *ngIf='goals.length > 5'>You have too many goals</p>
  </div>
  </div>
  <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
</div>